html {
	font-family: "Century Gothic", Gothic, sans-serif;
	padding: 12px 16px;
}

.angaben {
	font-family: "Century Gothic", Gothic, sans-serif;
	padding: 12px 16px;
}

input[type="text"],
input[type="email"],
textarea,
select {
	font-family: "Century Gothic", Gothic, sans-serif;
	width: 50%;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
	cursor: pointer;
}

input[type="submit"]{
	font-family: "Century Gothic", Gothic, sans-serif;
	width: 50%;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
	cursor: pointer;
}

#news, #infos{
	padding: 12px 16px;
	border-radius: 4px;
}

/* RADIO*/
/* Customize the label (the container) */
.news {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.news input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.news:hover input ~ .checkmark2 {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.news input:checked ~ .checkmark2 {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.news input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.news .checkmark2:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/* CHECKBOX*/
/* Customize the label (the container) */
.infos {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.infos input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.infos:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.infos input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.infos input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.infos .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}